ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	margin-top: 1em;
}

li {
	margin-top: 0.5em;
}

.clr {
	clear: both;
}

.site-name {
	margin: 3em 1em 0 1em;
}

.chat-bg {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.side-bar {
	position: relative;
	background-color: #333333;
	height: 100%;
	overflow: auto;
	padding-bottom: 3em;
}

/*#left-bar {
	float: left;
}

#right-bar {
	float: right;
}*/

#right-bar .site-name {
	display: block;
}

.chat-area {
	position: relative;
	background-color: #fff;
	height: 100%;
	overflow: hidden;
	padding-left: 0;
	padding-right: 3em;
}

.channel-name {
	color: #BA6222;
	margin-left: 1em;
	float: left;
}

#user-status h3 {
	display: inline;
	float: right;
}

.user-name {
	float: right;
	display: inline;
}

.channels-label, .users-label {
	display: block;
	margin: 3em 0 0 1em;
	color: #fff;
}

.channels-list, .users-list {
	margin: 1em 0 0 0;
	position: relative;
	color: #fff;
	width: 100%;
	height: 100%;
	padding-bottom: 3em;
}

.channels-list ul {
	padding-left: 1em;
}

#users-list {
	position: relative;
	margin-bottom: 1em;
}

.online-user {
	color: #0f0;
}

.online-status {
	display: none;
}

/*ul#users-list li.online-user {
	color: #fff;
	list-style-image: url('../images/circle_green.png');
	margin-left: 1em;
}

ul#users-list li.offline-user {
	color: #fff;
	list-style-image: url('../images/circle_grey.png');
	margin-left: 1em;
}

ul#users-list li.away-user {
	color: #fff;
	list-style-image: url('../images/circle_yellow.png');
	margin-left: 1em;
}

ul#users-list li.busy-user {
	color: #fff;
	list-style-image: url('../images/circle_red.png');
	margin-left: 1em;
}*/

.user {
	position: relative;
	overflow: hidden;
	padding: 1em;
}

.user:hover {
	background-color: #666;
}

.info {
	display: inline-block;
	margin-left: 1em;
	vertical-align: bottom;
	width: 60%;
	white-space: nowrap;
	overflow: hidden;
}

.last-text {
	color: #f1f1f1;
}

.send-bar {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 1em;
}

.send-bar-bg {
	width: 100%;
	height: 100%;
}

.messages-area {
	position: absolute;
	width: 100%;
	top: 5em;
	bottom: 5em;
	overflow: hidden;
}

.messages-area ul {
	height: 100%;
	overflow: scroll;
	padding-left: 1em;
}

@media(max-width: 800px) {
	.side-bar {
		/*width: 200px;*/
	}
}

@media(max-width: 720px) {
	#left-bar, #right-bar {
		display: none;
	}
}
